.advantages {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
  }

  // make var width for adapt. ?
  &__item {
    display: block;

    @media screen and (max-width: 767px) {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);
      margin-top: 30px;
      margin-left: 30px;
    }

    @media screen and (min-width: 1200px) {
      width: calc(100% / 4 - 30px);
    }
  }

  &__icon-bg {
    @extend %flex-center;
    height: 120px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      width: 270px;
    }

    background-color: $bg-secondary;
  }

  &__title {
    margin: 0 auto 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;

    color: $secondary-text-color;
  }

  &__text {
    margin: 0 auto;

    font-size: 14px;
    line-height: 1.7;
  }
}
