.button {
  box-sizing: inherit;
  display: inline-block;
  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;

  &--secondary {
    color: $secondary-text-color;
    background-color: $bg-secondary;
  }
}
