.products__button {
  display: block;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.products-view {
  @extend %list;
  @extend %flex-center;

  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__category {
    margin-right: 8px;
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;

      // not for button but for li!
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
    }
  }
}

.card-set {
  &--products {
    @extend %list;
    display: flex;
    margin-top: -30px;
    margin-left: -30px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__item--product {
    margin-top: 30px;
    margin-left: 30px;

    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
    }
  }
}

// hotfix height of first card on 768-1200
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set__item--product:first-child {
    .product__descr {
      padding-bottom: 56px;
    }
  }
}

.product {
  @extend %link;
  display: block;
  color: inherit;

  &__img {
    display: block;
    max-width: 100%;

    @media screen and (max-width: 767px) {
      &--tab,
      &--desk {
        display: none;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      &--mob,
      &--desk {
        display: none;
      }
    }

    @media screen and (min-width: 1200px) {
      &--mob,
      &--tab {
        display: none;
      }
    }
  }

  &__thumb {
    position: relative;
    display: block;
    overflow: hidden;

    // remove before flight (should be changed along with adaptive graphics)
    display: flex;
    justify-content: center;
  }

  &__popup-text {
    position: absolute;
    display: flex;

    bottom: -100%;

    // diff paddings for each resolution?
    padding: 49px 24px;

    width: 100%;
    height: 100%;
    margin: 0;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    background-color: rgba(33, 150, 243, 0.9);
    color: $lighter;

    transition: 250ms;
    transition-property: bottom;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
  }

  &__descr {
    padding: 20px 24px;

    border: 1px solid $product-card-border;
    border-top: none;
  }

  &__title {
    margin: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $secondary-text-color;
  }

  &__text {
    margin: 0;

    @media screen and (max-width: 767px) {
      font-weight: inherit;
      font-size: 18px;
      line-height: 1.56;
    }

    font-weight: inherit;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    .product__popup-text {
      bottom: 0;
    }
  }
}
