.header {
  &__container {
    display: flex;

    padding-top: 0;
    padding-bottom: 0;
  }

  &__logo {
    margin-right: 93px;
  }
}

.header__nav,
.main-nav,
.contacts-list--vertical {
  @extend %flex-center;
}

.no-hero__header {
  border-bottom: 1px solid $header-border-low;
}

.main-nav {
  @extend %list;

  &__link {
    @extend %link;
    color: $secondary-text-color;

    &--current {
      position: relative;
      color: $accent;

      &::after {
        position: absolute;

        content: '';
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;

        border-radius: 2px;
        background-color: $accent;
      }
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent;
    fill: $accent;
  }
}

.contacts-list {
  &__icon {
    fill: $primary-text-color;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}

.contacts-list__link {
  @extend %link;
  color: inherit;
}

.contacts-list__link:hover,
.contacts-list__link:focus,
.contacts-list__link:hover .contacts-list__icon,
.contacts-list__link:focus .contacts-list__icon {
  color: $accent;
  fill: $accent;
}

.contacts-list {
  @extend %list;
  margin-left: auto;
}

.main-nav__item:not(:last-child),
.contacts-list__item--horizontal:not(:last-child) {
  margin-right: 50px;
}

.main-nav__link,
.contacts-list__link--horizontal {
  display: inline-flex;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
