.logo {
  @extend %link;
  display: block;

  font-family: $Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: $secondary-text-color;

  &--highlight {
    color: $accent;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: $lighter;
}
