body {
  background-color: $lighter;
  color: $primary-text-color;

  font-family: $Roboto;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
