// fonts
@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);

$Roboto: 'Roboto', sans-serif;
$Raleway: 'Raleway', sans-serif;

// colors
$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent: #2196f3;
$lighter: #ffffff;
$footer-lighter-60: rgba(255, 255, 255, 0.6);
$bg-dark: #2f303a;
$bg-secondary: #f5f4fa;
$header-border-low: #ececec;
$product-card-border: #eeeeee;
$icon-fill: #afb1b8;
$footer-social: rgba(255, 255, 255, 0.1);
